---
import { type CollectionEntry, getCollection } from 'astro:content';
import Thought from '../../layouts/Thought.astro';

export const prerender = true

export async function getStaticPaths() {
	const thoughts = await getCollection('thoughts');
	return thoughts.map((thought: any) => ({
		params: { slug: thought.slug },
		props: thought,
	}));
}
type Props = CollectionEntry<'thoughts'>;

const thought = Astro.props;
const { Content } = await thought.render();
---

<Thought {...thought.data}>
	<div id="thought-content">
		<Content/>
	</div>
</Thought>