*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color:  #f1eadf;
    --text-color: #222;
    --text-light-color: #444;
    --accent-color: rgb(22, 79, 14);
    --white: #efefef;

    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-color: #f1eadf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2rem;
}

blockquote {
    font-size: 0.8rem;
    border-left: 0.5rem solid var(--accent-color);
    clear: both;
    padding-left: 0.5rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    color: var(--text-light-color);
}

blockquote p {
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.5;
}

p, ul, li, a {
    line-height: 1.5;
}

p {
    font-size: 0.8rem;
}

a {
    color: var(--accent-color);
}

.breadcrumb {
    color: var(--text-light-color);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

section {
    margin-bottom: 1rem;
}

section p {
    margin-bottom: 1rem;
}

.topics-list, .thoughts-list {
    margin: 0.5rem;
    font-family: monospace;
}

#post-view {
    margin: 0.5 0;
}

.page-title {
    margin: 1rem 0;
    text-align: center;
}

#thought-content p, #about-content p {
    margin: 1rem 0;
}

@media screen and (min-width: 600px)
{
    .section-content {
        margin-left: 1rem;
    }

    p {
        font-size: 1rem;
    }
}