---
import BaseWithMarkdown from "../layouts/BaseWithMarkdown.astro";
import * as AboutPage from '../content/about/About.md';
import * as Brand from '../content/brand/Brand.md';

const { Content } = AboutPage;
---

<BaseWithMarkdown pageTitle="About">
    <div class="flex place-content-center">
        <img class="max-w-[290px] mx-auto my-3 border-4 border-lime-800" src={Brand.frontmatter.avatar}/>
    </div>
    <div class="max-w-screen-l">
        <h1 class="text-center text-xl md:text-2xl l:text-3xl">{AboutPage.frontmatter.title}</h1>
        <Content/>
    </div>
</BaseWithMarkdown>