---
import Home from "../layouts/Home.astro";
import CTA from "../components/CTA.astro";
import { getCollection } from "astro:content";
import * as Brand from '../content/brand/Brand.md';

const thoughts = (await getCollection('thoughts'));
let randomThought = null;
let randomTopic = null;
let sortedAllThoughts = null;
let recentThoughts = null;

if (thoughts) {
	randomThought = thoughts[Math.floor(Math.random() * thoughts.length)];
	sortedAllThoughts = thoughts.sort((a: any, b: any) => Date.parse(b.data.datePosted) - Date.parse(a.data.datePosted));
	recentThoughts = sortedAllThoughts;

	if (recentThoughts.length > 5)
	{
		recentThoughts.splice(5, recentThoughts.length - 5);
	}

	const topicsDict: Record<string, number> = {};

	for (var i = 0; i < thoughts.length; i++)
	{
		for (var j = 0; j < thoughts![i].data!.topics!.length; j++)
		{
			if (!topicsDict[thoughts![i].data!.topics![j]])
			{
				topicsDict[thoughts![i].data!.topics![j]] = 1;
			}
			else
			{
				topicsDict[thoughts![i].data!.topics![j]]++;
			}
		}
	}

	var topicsArray = Object.entries(topicsDict);

	randomTopic = topicsArray[Math.floor(Math.random() * topicsArray.length)];
}

---
<Home pageTitle="Home">
	<section>
		<h1 class="text-3xl font-bold text-stone-800 uppercase md:text-6xl l:text-8xl">Rob <a class="underline text-lime-800 hover:text-lime-600 transition-all" href="/thoughts">Thoughts</a></h1>
		<h2 class="text-3xl md:text-5xl l:text-7xl text-stone-600">{Brand.frontmatter.title}</h2>
		<p class="px-1 py-1 text-xs md:py-3 md:text-base l:text-lg text-stone-800">{Brand.frontmatter.intro}</p>
	</section>
	<section class="flex gap-2 l:gap-3 flex-col l:flex-row">
		{randomThought && <CTA link={`/thoughts/${randomThought.slug}`} title="Random Thought"/>}
		<CTA link="/about" title="About Rob"/>
		{randomTopic && <CTA link={`/thoughts/topics/${randomTopic[0]}`} title="Random Topic"/>}
	</section>
</Home>