---
const {link, title} = Astro.props;
---

<a href={link} class="text-center px-3 py-1 text-xl uppercase bg-lime-800 text-stone-100 hover:bg-lime-600 transition-all rounded-lg md:text-2xl md:py-3 l:text-3xl">{title}</a>