---
import { SITE_OWNER, SITE_START_YEAR } from "../consts";

let thisYear = new Date().getFullYear();
---

<footer class="flex flex-col place-items-center py-3 text-stone-600 text-sm mt-3">
    <p>&copy; {SITE_START_YEAR} {thisYear > SITE_START_YEAR ? `–${thisYear}` : ""} {SITE_OWNER}. All Rights Reserved.</p>
    <p>Made with &heartsuit; by <a class="underline text-lime-800 hover:text-lime-600 transition-all" target="_blank" rel="noopener noreferrer nofollow" href="https://helenmckay.dev">Helen McKay</a>.</p>
</footer>