---
const { thoughts } = Astro.props;

thoughts.sort((a: any, b: any) => Date.parse(b.data.datePosted) - Date.parse(a.data.datePosted));

// assumes it arrives unsorted
---

<div>
    {
        thoughts.map((t: any) => <div class="flex flex-row gap-3 font-mono md:text-lg l:text-xl"><p class="text-stone-600">{new Date(t.data.datePosted).toLocaleString('default', {month: 'short', year: 'numeric', day: '2-digit'})}</p> <a class="underline text-lime-800 hover:text-lime-600 transition-all" href={`/thoughts/${t.slug}`}>{t.data.title}</a></div>)
    }
</div>